html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-top: 10px;
  color: #525050;
  transition: color 0s;
  font-size: 25px;
}

/* CUSTOM: For doctor name and specialty */
.doctor_items{
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-top: 10px;
  color: #525050;
  outline: none !important;
  font-size: 20px;
  margin-bottom: 40px
}

.list {
  margin-top: -15px;
  list-style-type: none;
  padding-inline-start: 5px;
  margin-bottom: 15px;
}

.dropdowns:hover {
  color: rgb(56, 56, 56);
  text-decoration: none
}

/* CUSTOM: dropdown options */
.dropdowns {
  display: inline-block;

  /* Our sidebar item styling */
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 5px;
  color: #525050;
  transition: color 0s;
}


/* Change color on hover */
.bm-item:hover {
  color: rgb(56, 56, 56);
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #ffffffe7;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


/* Rounded images */
.img-circle {
  border-radius: 50%;
  outline: none;
}
img:focus {outline:0;}